.active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  background-color: aqua;
  margin: 0;
  height: 100vh;
  text-align: center;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    background-color: aqua;
    margin: 0;
    height: 100vh;
    text-align: center;
}